.search-result{
    background: #ffffff;
    width: 29.6%;
    margin-top: 4px;
    border-radius: 3px;
    padding: 4px 5px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    flex-direction: column;
    z-index: 20;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    -ms-overflow-style: none;  /* Scrollbar hide IE and Edge */
    scrollbar-width: none;  /* Scrollbar hide Firefox */
    scroll-snap-type: y;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-result::-webkit-scrollbar{
    display: none;
}

.card{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    scroll-snap-align: start;
}

.card:hover{
    background-color: lightgrey;
}

@media screen and (max-width: 850px){
    .search-result{
        width: 29%;
    }
}

@media screen and (max-width: 500px){
    .search-result{
        width: 85%;
        top: 90px;
        height: 120px;
    }
}