.search-result{
    background: #ffffff;
    width: 31.2%;
    margin-left: 13.4rem;
    margin-top: 8.5rem;
    border-radius: 3px;
    padding: 4px 10px;
    height: 100px;
    text-align: left;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 20;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}