

.mainweb {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr; 
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.graph { 
    grid-area: 1 / 2 / 3 / 5;
}

.news { 
    grid-area: 3 / 2 / 7 / 5;
}

.favourite { 
    grid-area: 1 / 5 / 7 / 6;
}

.footer { 
    grid-area: 7 / 2 / 8 / 6;
} 

/*

.testing{
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
}




.mainweb {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.graph { 
    grid-area: 1 / 2 / 3 / 5;
}

.news { 
    grid-area: 3 / 2 / 7 / 5;
}

.favourite { 
    grid-area: 1 / 5 / 7 / 6;
}

.footer { 
    grid-area: 7 / 2 / 8 / 6;
} 
.div5 { grid-area: 1 / 1 / 8 / 2; }
.div6 { grid-area: 1 / 6 / 8 / 7; } 



.graph { 
    grid-area: 1 / 1 / 3 / 4; 
}

.news { 
    grid-area: 3 / 1 / 7 / 4; 
}

.favourite { 
    grid-area: 1 / 4 / 7 / 5; 
}

.footer { 
    grid-area: 7 / 1 / 8 / 5; 
} 
*/