.mainweb {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.graph { 
    grid-area: 1 / 1 / 3 / 4; 
}

.news { 
    grid-area: 3 / 1 / 7 / 4; 
}

.favourite { 
    grid-area: 1 / 4 / 7 / 5; 
}

.footer { 
    grid-area: 7 / 1 / 8 / 5; 
} 