.home_main {
	margin: auto;
}

.mainhomepage {
	display: flex;
}

.graph_news {
	display: flex;
	flex-direction: column;
}

.home_news{
	margin-top: 2rem;
}

/* 
@media screen and (max-width: 720px) {
	.mainweb {
		display: flex;
		flex-direction: column;
	}

	.home_graph {
		margin: auto;
	}

	.news {
		margin: auto;
	}
}
 */
