.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    background: rgb(10,48,66);
}

.navbar img{
    width: 180px;
}

.nav-menu{
    display:flex;
}

.nav-login{
    display:flex;
}

.nav-item{
    padding: 1rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer
}

.nav-item .active{
    color:rgb(10,48,66);
    padding: 13px;
    margin: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
}
 
.hamburger{
    display: none;
}

@media screen and (max-width: 700px) {
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
       /* 
       #ffffffea
       justify-content: center; */
        background: rgb(10,48,66);
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: left;
        transition: 0.4s;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item .active{
        background: none;
        color: #ffffff;
        padding: 0;
    }

    .nav-item:hover::after {
        width: 0;
    }
    
    .nav-item:hover, .nav-item:active{
        color:rgb(10,48,66);
        background: #ffffff;
    }

    .nav-item{
        padding: 8px 0px; 
        font-size: 16px;
        justify-content: center;
    }

    .hamburger{
        display: flex;
    }

    .nav-login{
        display: none;
    }

    .nav-login-small{

    }

    .line{
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 5px;
        margin: 10px 0;
    }
}