.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    background: rgb(10,48,66);
}

.navbar img{
    width: 180px;
}

.nav-menu{
    display:flex;
}

.nav-login{
    display:flex;
}

.nav-item{
    padding: 1rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer
}

.nav-item .active{
    color:rgb(10,48,66);
    padding: 13px;
    margin: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-login-signup, .line{
    display: none
}
 
.hamburger{
    display: none;
}

@media screen and (max-width: 700px) {

    .navbar{
        height: 60px;
    }

    .navbar img{
        margin-top: 5px;
        width: 38%;
    }

    .hamburger{
        width: 6%;
        margin-right: 5px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
       /* 
       justify-content: center; */
        background: rgb(10,48,66);
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: left;
        transition: 0.4s;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item .active{
        background: none;
        color: #ffffff;
        padding: 0;
    }

    .nav-item:hover::after {
        width: 0;
    }
    
    /*.nav-item:hover, .nav-item:active{
        color:rgb(10,48,66);
        background: #ffffff;
    }*/

    .nav-item{
        padding: 8px 0px; 
        font-size: 16px;
        justify-content: center;
    }

    .hamburger{
        display: flex;
    }

    .nav-login{
        display: none;
    }

    .nav-login-signup{
        display: unset;
    }

    .line{
        display: unset;
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 5px;
        margin: 5px 0;
    }

    .nav-login-signup{
        margin: 10px 0;
    }

    .nav-login-small{
        font-size: 20px;
        width: 90px;
        background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
        border-radius: 40px;
        display: block;
        height: 40px;
        padding: 6px;
        position: relative;
        width: 4em;
        z-index: 2;
        text-align: center;
    }

    .nav-login-small a:hover {
        color: #fff;
    }
    .nav-login-small a{
        color: #00a84f;
        align-items: center;
        background: rgb(10,48,66);
        border-radius: 40px;
        display: flex;
        justify-content: center;
        height: 100%;
        transition: background 0.5s ease;
        width: 100%;
      }

    .nav-login-small a:hover{
        background: transparent;
    }
    



}

/*
#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}*/