.logo img{
    transform: scale(0.7);
    padding:10px 0px;
}

.logo{
    background: rgb(10,48,66);
    background: linear-gradient(90deg, rgba(10,48,66,1) 0%, rgba(13,64,88,1) 28%, rgba(15,75,103,1) 70%);
}
/*
background-color:#0a3042;
background-color: #11506e;
background: rgb(10,48,66);
    background: linear-gradient(90deg, rgba(10,48,66,1) 0%, rgba(13,64,88,1) 28%, rgba(15,75,103,1) 70%);

*/